.container {
	font-family: 'Source Sans Pro', sans-serif;
}

.nav-bar {
	background-color: black;
}

.logo {
	width: 100%;
}

.nav-bar-row {
	border: 1px solid #484848;
	padding: 5px;
	color: white;
}

.nav-text {
	padding-top: 10px;
}

.nav-sub-text {
	padding-top: 10px;
	background-color: #383838;
}

.top-bar-row {
	background-color: black;
	border: 2px solid #383838;
	color: white;
	padding: 10px;
}

.product-row {
	border: 1px solid #383838;
	border-radius: 3px;
	padding: 20px 20px 20px 5px;
	background-color: white;
}

.product-col-row {
	margin: -10px;
}

.btn {
	margin-top: 10px;
}

.btn-col {
	margin-left: -13px;
}

img {
	width: 110px;
	height: 110px;
	border-radius: 10px;
}

.qty-box {
	background-color: #484848;
	border-radius: 5px;
	width: 50%;
	padding: 20px 30px;
	margin-right: 5px;
	color: white;
	height: 85%;
}

.supermarket-banner {
	border: 2px solid #383838;
	border-radius: 1px;
	padding: 10px 0 5px 10px;
}

.supermarket-logo {
	width: 25%;
	height: 100%;
	padding: 5px 20px;
	margin-left: 300px;
}