.container {
	font-family: 'Source Sans Pro', sans-serif;
}

.nav-bar-col {
	border: 1px solid white;
	background-color: rgb(40,40,40);
	color: white;
	padding: 20px;
}

.inventory-tab {
	background-color: darkgrey;
}

.delivery-tab {
	background-color: darkgrey;
}

.wishlist-tab {
	background-color: #f5827c;
}

.product-row {
	border: 2px solid #f5827c;
	border-radius: 5px;
	margin: 5px;
	padding: 15px 20px 15px 5px;
	width: 51%;
	background-color: white;
}

.product-col-row {
	margin: -10px;
}

.product-text {
	padding-top: 25px;
}

.btn-col {
	margin-left: -13px;
}

.back-btn {
	background-color: #484848;
}

img {
	width: 120px;
	height: 120px;
	border-radius: 10px;
}

.qty-box {
	background-color: #f5827c;
	border-radius: 5px;
	padding: 20px 45px;
	color: white;
	width: 50%;
}

.input-qty {
	border: 1px solid grey;
	border-radius: 5px;
	width: 70px;
	height: 70px;
	padding-left: 4px;
}

.instructions {
	background-color: #f5827c;
	border-radius: 0 0 5px 5px;
	padding: 20px 20px;
	margin: 0 -13px;
}

.form-bowl {
	background-color: white;
	width: 43%;
	padding: 30px;
	border-radius: 5px 5px 120px 120px;
	margin: 0 auto;
}