.nav-bar-col {
	border: 1px solid white;
	border-radius: 20px 20px 0 0;
	background-color: rgb(40,40,40);
	color: white;
	padding: 20px;
}

.inventory-tab {
	background-color: #94d1fc;
}

.delivery-tab {
	background-color: darkgrey;
}

.wishlist-tab {
	background-color: darkgrey;
}

p {
	font-size: 20px;
}

input {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;
}

.form-container {
	background-color: #94d1fc;
	border-radius: 0 0 5px 5px;
	padding: 40px 20px;
	margin: 0 -14px;
}

.form-bowl {
	background-color: white;
	width: 70%;
	padding: 30px;
	border-radius: 5px 5px 240px 240px;
	margin: 0 auto;
}

.bowl-base {
	height: 23px;
	background-color: white;
	margin-left: 15px;
}

.back-btn {
	background-color: #484848;
	margin-left: 20px;
}