.container {
	font-family: 'Source Sans Pro', sans-serif;
}

.nav-bar {
	background-color: black;
}

.logo {
	width: 100%;
	padding: 0;
}

.nav-bar-row {
	border: 1px solid #484848;
	padding: 5px;
	color: white;
}

.nav-text {
	padding-top: 10px;
}

.nav-sub-text {
	padding-top: 10px;
	background-color: #383838;
}

.top-bar-row {
	background-color: black;
	border: 2px solid #383838;
	color: white;
	padding: 10px;
}

p {
	font-size: 20px;
}

input {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;
}

select {
	height: 40px;
}

.form-container {
	background-color: #383838;
	border-radius: 3px;
	padding: 40px 20px;
	margin: 0 -15px;
}

.form-bowl {
	background-color: white;
	width: 80%;
	padding: 30px;
	border-radius: 5px 5px 180px 180px;
	margin: 0 auto;
}

.bowl-base {
	height: 23px;
	background-color: white;
	margin-left: 12px;
}

.back-btn {
	background-color: #484848;
	margin-left: 20px;
}