.bowl {
	background-color: black;
	color: white;
	border-radius: 5px 5px 210px 210px;
	padding: 30px 0 40px 0;
	margin-top: 50px;
	width: 60%;
}

.bowl-base {
	background-color: black;
	height: 20px;
}

img {
	width: 20%;
	margin-left: 30px;
	margin-bottom: 30px;
}

input {
	border: 1px solid #383838;
	border-radius: 2px;
}

.cancel-btn {
	background-color: white;
	color: black;
}