.container {
	font-family: 'Source Sans Pro', sans-serif;
}

.nav-bar {
	background-color: black;
}

.logo {
	width: 100%;
	padding: 0;
}

.nav-bar-row {
	border: 1px solid #484848;
	padding: 5px;
	color: white;
}

.nav-text {
	padding-top: 10px;
}

.nav-sub-text {
	padding-top: 10px;
	background-color: #383838;
}

.top-bar-row {
	background-color: black;
	border: 2px solid #383838;
	color: white;
	padding: 10px;
}

.product-row {
	border: 1px solid #383838;
	border-radius: 3px;
	padding: 15px 20px 15px 5px;
	background-color: white;
}

.product-text {
	margin-top: 15px;
}

.product-col-row {
	margin: -10px;
}

img {
	width: 110px;
	height: 110px;
	border-radius: 10px;
	padding-top: 10px;
}

.qty-box {
	margin-top: 12px;
	margin-right: 15px;
}

.input-qty {
	border: 1px solid grey;
	border-radius: 5px;
	width: 75px;
	height: 70px;
	padding-left: 10px;
}

.btn {
	font-size: 30px;
}

.back-btn {
	background-color: black;
	height: 40px;
	margin-top: 59px;
	margin-left: 20px;
}

.instructions {
	background-color: #383838;
	border-radius: 2px;
	padding: 20px 20px;
}

.left-instructions {
	background-color: white;
	border-radius: 5px 5px 115px 115px;
	padding: 20px 0;
}

.right-instructions {
	background-color: white;
	border-radius: 5px 5px 115px 115px;
	padding: 20px 0;
}