.container {
	font-family: 'Source Sans Pro', sans-serif;
}

.nav-bar-col {
	border: 1px solid white;
	background-color: rgb(40,40,40);
	color: white;
	padding: 20px;
}

.inventory-tab {
	background-color: darkgrey;
}

.delivery-tab {
	background-color: darkgrey;
}

.wishlist-tab {
	background-color: #f5827c;
}

.product-row {
	border: 2px solid darkgrey;
	border-radius: 5px;
	margin: 5px;
	padding: 15px 20px 15px 5px;
	width: 51%;
	background-color: white;
}

.product-text {
	margin-top: 20px;
}

.product-col-row {
	margin: -10px;
}

img {
	width: 110px;
	height: 110px;
	border-radius: 10px;
}

.input-qty {
	border: 1px solid grey;
	border-radius: 5px;
	width: 75px;
	height: 75px;
	padding-left: 10px;
}

.btn {
	font-size: 30px;
}

.back-btn {
	background-color: #484848;
	height: 40px;
	margin-top: 59px;
	margin-left: 20px;
}

.instructions {
	background-color: #f5827c;
	border-radius: 0 0 5px 5px;
	padding: 20px 20px;
}

.left-instructions {
	background-color: white;
	border-radius: 5px 5px 115px 115px;
	padding: 20px 0;
}

.right-instructions {
	background-color: white;
	border-radius: 5px 5px 115px 115px;
	padding: 20px 0;
}